body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 500;
    font-size: 35px;
    
}
h2{
    font-size: 30px;
}
.purple-color{
    color: blueviolet;
}
.flexible-container{
    display: flex;
    
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 2px;
    background-image: linear-gradient( pink, purple);
    color: white;
    font-size: bold;

}
.half p{
    margin-bottom: 60px;
}
.half img{
    width: 100%;
    margin-top: 2%;
}

.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 20px;

}
.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 120px;
    margin-bottom: 50px;
    
}
.experience{
width: 40%;
margin-left: 5%;
box-shadow: 10px 10px 40px gray;
padding-left: 10px;
border-radius: 10px;
}
#first-border{
    border-left: 10px solid purple;

}
#second-border{
    border-left: 10px solid blue;
}
footer p{
    text-align: center;
    margin: 20px 0;
}